.title {
  display: block;
  font-size: 35px;
  color: rgb(101, 161, 148);
  font-family: 'Open Sans';
}

.form_wrapper {
  display: block;
  background-color: #dfdd9a;
  width: 400px;
  margin: 0 auto;
  color: rgb(44, 112, 97);
  padding: 20px 10px;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 10px 10px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}
body {
  background: #aab1f0;
}
ul {
  list-style: none;
}
